@import url("https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@500&display=swap");

:root {
  --color-1: #6f42c1;
  --color-2: #007bff;
}
main {
  padding-top: 50px;
  overflow: hidden;
}

#product-box,
#profile {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Anek Telugu";
  margin-top: 20px;
  width: 75%;
  /* margin: auto; */
}

#panel {
  box-sizing: border-box;
  margin: auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#orders {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Anek Telugu";
  margin-top: 20px;
  width: 100%;
  margin: auto;
}

.dash-title {
  margin: 2% 0% 0% 12%;
  font-size: 30px;
  font-weight: 300;
  margin-top: 25px;
}

.notifs {
  width: 75%;
  /* text-align: center; */
  display: inline-block;
  padding: 15px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  border-left: 5px solid var(--color-1);
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.144);
}

.notifs-title {
  font-size: medium;
  font-weight: 500;
  color: var(--color-1);
  margin-bottom: 5px;
}

.quant {
  font-size: medium;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.822);
  font-size: large;
}

/* Orders */

.itembox {
  height: auto;
  overflow: hidden;
  transition: all 5s ease;
}

.order-box {
  display: inline-block;
  z-index: -1;
  position: relative;
  margin-top: 10px;
  height: auto;
  width: 25%;
  min-width: 300px;
  background-color: white;
  border-radius: 7px;
  border-top: 35px solid var(--color-1);
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.144);

  margin: 10px 5px 10px 5px;
}

.order-box.co {
  border-top: 35px solid rgb(89, 219, 89);
}

.details {
  margin: 10px;
}

.details.ico {
  margin: 10px;
  color: lightcoral;
}

.details.co {
  margin: 10px;

  color: rgb(111, 235, 111);
}

/* Stats */

/* Products */

.table-bordered {
  border: 1px solid #ddd !important;
}

table caption {
  padding: 0.5em 0;
}

@media screen and (max-width: 767px) {
  table caption {
    display: none;
  }
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}
#products {
  padding-top: 20px;
}

.del {
  color: rgb(241, 53, 53);
}

.edi {
  color: rgb(241, 181, 53);
}

/* Profile */

.profile-box {
  display: inline-block;
  height: auto;
  width: 60%;
  background-color: white;
  box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.144);
  border-radius: 9px;
}

.imgcont {
  width: 45%;
  display: inline-block;
}

.info {
  height: 45%;
  width: 45%;
  display: inline-block;
}

.info p {
}

.imgcont img {
  margin: 10px;
  width: 100px;
}

/* Media Queries */

@media (max-width: 950px) {
  #panel {
    display: inline-block;
    margin: auto 10%;
    width: 100%;
  }
}

/* Orders */

@media (max-width: 360px) {
  .order-box {
    width: 50%;
    min-width: 200px;
    margin: 5px 2px;
  }
}
