.card {
  padding: 2.5rem 2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 7000px;

  box-shadow: 0 0 5px #6f42c1;
  margin: 1rem;
  position: relative;
  transform-style: preserve-3d;
  overflow: hidden;
}

.card::after,
.card img {
  border-radius: 50%;
}

/* img {
  max-width: 100%;
  display: block;
} */

.card img {
  width: 8rem;
  min-width: 80px;
  box-shadow: 0 0 0 5px #fff;
}

.infos {
  margin-left: 1.5rem;
}

.name {
  margin-bottom: 1rem;
}
.name h2 {
  /* font-size: 1.3rem; */
}
.name h4 {
  /* font-size: 0.8rem; */
  color: #333;
}

.text {
  /* font-size: 0.9rem; */
  margin-bottom: 1rem;
}

.stats {
  margin-bottom: 1rem;
}
.stats li {
  min-width: 5rem;
}

.links button {
  font-family: "Poppins", sans-serif;
  min-width: 140px;
  padding: 0.6rem;
  border: 1px solid rgb(155, 155, 155);
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s linear;
}
.links .follow,
.links .view:hover {
  background-color: #6f42c1;
  color: #fff;
}
.links .view,
.links .follow:hover {
  background-color: transparent;
  color: #6f42c1;
}

@media (max-width: 450px) {
  .card {
    display: block;
  }
  .infos {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .links button {
    min-width: 100px;
  }
}
